*{ margin: 0; padding: 0; font-family: "微软雅黑"}
/*body, ul, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd { margin: 0px; padding: 0px; font-size: 14px; font-weight: normal; }*/
/*img { border-style: none;}*/
li{ list-style: none; float: left}
a{ text-decoration: none}
body{
	background: #F3F2F1
}
.body{
	width: 100%;
	height: auto
}
.jianjie{
	width: 1125px;
	overflow: hidden;
	margin: 30px auto;
}
.jj-list{
	width: 350px;
	margin-right: 20px;
	float: left;
	margin-bottom:20px;
}
.jj-list-tit{
	font-size: 20px;
	line-height: 20px;
	color: red;
	padding-left: 4px;
}
.jj-list-con{
	overflow: hidden;
}
.jj-list-con li{
	width: 110px;
	margin: 3px 3px;
}
.link-3{
	display: block;
	background: rgba(0,0,0,.35);
	color: #FFF;
	font-size: 13px;
	text-align: center;
	line-height: 35px;
	padding: 4px 0;
	border-radius: 3px;
	transition: all 0.2s
}
.link-3:hover{
	background: rgba(0,0,0,.45);
	font-size: 15px;
	font-weight: bold
}

















